first-ejb-wsclient/src/main/resources/wsdl/WSDL_FirstService_v1.0.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="FirstService_v1"
	targetNamespace="http://EA.service.First.com/v1" xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://EA.service.First.com/v1"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema attributeFormDefault="unqualified"
			elementFormDefault="unqualified" targetNamespace="http://EA.service.First.com/v1"
			xmlns:tns="http://EA.service.First.com/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:complexType name="addNameRequest">
				<xs:complexContent>
					<xs:extension base="tns:baseBeRequest">
						<xs:sequence>
							<xs:element minOccurs="0" name="input" type="tns:nameDTO" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="baseBeRequest">
				<xs:sequence>
					<xs:element minOccurs="0" name="metadata" type="tns:requestMetaData" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="nameDTO">
				<xs:sequence>
					<xs:element minOccurs="0" name="id" type="xs:long" />
					<xs:element minOccurs="0" name="name" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="requestMetaData">
				<xs:sequence>
					<xs:element minOccurs="0" name="ip" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="addNameResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="result" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getAllNamesResponse">
				<xs:complexContent>
					<xs:extension base="tns:baseBeResponse">
						<xs:sequence>
							<xs:element minOccurs="0" name="result"
								type="tns:getAllNamesOutputDTO" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType abstract="true" name="baseBeResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="responseMetaData" type="tns:responseMetaData" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getAllNamesOutputDTO">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="names"
						nillable="true" type="tns:nameDTO" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="responseMetaData">
				<xs:sequence>
					<xs:element minOccurs="0" name="outputCommonDataVersion"
						type="xs:string" />
					<xs:element name="statusCode" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="addName" nillable="true" type="tns:addNameRequest" />
			<xs:element name="addNameResponse" nillable="true"
				type="tns:addNameResponse" />
			<xs:element name="getAllNamesResponse" nillable="true"
				type="tns:getAllNamesResponse" />
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="addNameResponse">
		<wsdl:part element="tns:addNameResponse" name="addNameResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="addName">
		<wsdl:part element="tns:addName" name="addName">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAllNamesResponse">
		<wsdl:part element="tns:getAllNamesResponse" name="getAllNamesResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAllNames">
	</wsdl:message>
	<wsdl:portType name="FirstPortType_v1">
		<wsdl:operation name="addName">
			<wsdl:input message="tns:addName" name="addName">
			</wsdl:input>
			<wsdl:output message="tns:addNameResponse" name="addNameResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAllNames">
			<wsdl:input message="tns:getAllNames" name="getAllNames">
			</wsdl:input>
			<wsdl:output message="tns:getAllNamesResponse" name="getAllNamesResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="FirstService_v1SoapBinding" type="tns:FirstPortType_v1">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="addName">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="addName">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="addNameResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAllNames">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getAllNames">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getAllNamesResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="FirstService_v1">
		<wsdl:port binding="tns:FirstService_v1SoapBinding" name="FirstServicePort">
			<soap:address
				location="http://localhost:8200/first-ejb-ejbimpl/FirstService_v1/FirstEjbRemoteImpl" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>